<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <pre>
                            ____
                        .-        -.
                      |,  .-.  .-.  ,|
                      | )(_ /  \_ )( |
                      |/     /\     \|
             (@_         <__ ^^ __>
             ) \_______\__|IIIIII|__/____________________
      (_)\@8@8{}<________________________________________>
             )_/         \ IIIIII /
             (@           --------

                       <span style="color: red;font-size:16px">403 没权限!!!</span>
      </pre>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>
</html>