<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head公共模块 -->
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Java Sec">
    <meta name="author" content="nul1">

    <title>Java Sec</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/codemirror.css}">
    <link rel="stylesheet" th:href="@{/css/linearicons.css}">
</head>

<!--顶部导航栏,利用th:fragment提取出来,命名为topbar-->
<nav class="navbar navbar-dark bg-primary sticky-top p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/index">Java 漏洞平台</a>
    <ul class="navbar-nav px-3">

        <li class="nav-item">
            <!--<a style="color:white" th:href="@{/login}">Login</a>-->
            <a style="color:white" th:href="@{/user/logout}">注销</a>
        </li>
    </ul>
</nav>

<!--侧边栏,利用th:fragment提取出来,命名为sidebar-->
<nav class="col-md-2  bg-dark sidebar" th:fragment="siderbar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column flex-sm-column">

            <li class="nav-item">
                <!-- 判断是否高亮-->
                <a th:class="${active=='xss.html'?'nav-link active':'nav-link'}" th:href="@{/index/xss}">
                    <i class="lnr lnr-code"></i><span>XSS</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active=='rce.html'?'nav-link active':'nav-link'}" th:href="@{/index/rce}">
                    <i class="lnr lnr-bug"></i><span>远程代码执行</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active=='spel.html'?'nav-link active':'nav-link'}" th:href="@{/index/spel}">
                    <i class="lnr lnr-poop"></i><span>表达式注入</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active=='sqli.html'?'nav-link active':'nav-link'}" th:href="@{/index/sqli}">
                    <i class="lnr lnr-drop"></i><span>SQL注入</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active=='ssti.html'?'nav-link active':'nav-link'}" th:href="@{/index/ssti}">
                    <i class="lnr lnr-cloud"></i><span>SSTI模版注入</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active=='ssrf.html'?'nav-link active':'nav-link'}" th:href="@{/index/ssrf}">
                    <i class="lnr lnr-rocket"></i><span>SSRF</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active=='1.html'?'nav-link active':'nav-link'}" th:href="@{/actuator}">
                    <i class="lnr lnr-paw"></i><span>Actuator</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="lnr lnr-layers"></i><span>目录遍历</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="lnr lnr-leaf"></i><span>文件上传</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="lnr lnr-screen"></i><span>越权漏洞</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="lnr lnr-book"></i><span>XML外部实体注入</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active=='1.html'?'nav-link active':'nav-link'}" th:href="@{/GetIP/xxf}">
                    <i class="lnr lnr-heart"></i><span>XXF头欺骗</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active=='1.html'?'nav-link active':'nav-link'}" th:href="@{/Redirect/vul?url=https://www.baidu.com}">
                    <i class="lnr lnr-heart"></i><span>重定向</span>
                </a>
            </li>

            <li class="nav-item">
                <a th:class="${active=='1.html'?'nav-link active':'nav-link'}" th:href="@{/sysinfo}">
                    <i class="lnr lnr-cog"></i><span>系统信息</span>
                </a>
            </li>

        </ul>

    </div>
</nav>

<div th:fragment="script">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap-4.6.0.min.js}"></script>
    <script th:src="@{/js/codemirror.js}"></script>
    <script th:src="@{/js/groovy.js}"></script>
</div>

<div th:fragment="codemirror">
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code1"), {
            mode: "groovy",
            indentUnit: 4,
            indentWithTabs: true,
            matchBrackets: true,
            lineNumbers: true,
        });
        $("#code1").text(editor.getValue());

        var editor = CodeMirror.fromTextArea(document.getElementById("code2"), {
            mode: "groovy",
            indentUnit: 4,
            indentWithTabs: true,
            matchBrackets: true,
            lineNumbers: true,
        });
        $("#code2").text(editor.getTextArea().value);

        var editor = CodeMirror.fromTextArea(document.getElementById("code3"), {
            mode: "groovy",
            indentUnit: 4,
            indentWithTabs: true,
            matchBrackets: true,
            lineNumbers: true,
            lineWrapping: true,
        });
        $("#code3").text(editor.getTextArea().value);

        var editor = CodeMirror.fromTextArea(document.getElementById("code4"), {
            mode: "groovy",
            indentUnit: 4,
            indentWithTabs: true,
            matchBrackets: true,
            lineNumbers: true,
        });
        $("#code4").text(editor.getTextArea().value);

    </script>
</div>

</html>