
#main-nav.nav-tabs.nav-stacked > li > a {
    padding: 10px 8px;
    font-size: 14px;
    font-weight: 600;
    color: #4A515B;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
}

#main-nav.nav-tabs.nav-stacked > li > a > span {
    color: #4A515B;
}

#main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
    color: #FFF;
    background: #3C4049;
    background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4A515B), color-stop(100%, #3C4049));
    background: -webkit-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: -o-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: -ms-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: linear-gradient(top, #4A515B 0%, #3C4049 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
    border-color: #2B2E33;
}

#main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover > span {
    color: #FFF;
}

#main-nav.nav-tabs.nav-stacked > li {
    margin-bottom: 4px;
}

/*定义二级菜单样式*/
.secondmenu a {
    font-size: 10px;
    color: #4A515B;
    text-align: left;
}

.navbar-static-top {
    background-color: blue;
    margin-bottom: 5px;
}

.navbar-brand {
    background: url('') no-repeat 10px 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    color: #fff;
}