<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='idor.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="vul_header">
                <span>越权访问</span>
            </div>
            <hr>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#aa"><span class="lnr lnr-bug"></span>
                        漏洞描述</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bb"><span class="lnr lnr-bullhorn"></span> 安全编码</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane dec shadow-sm p-3 mb-4 rounded active" id="aa">
                    IDOR（Insecure Direct Object
                    reference），不安全的直接对象引用，也叫越权漏洞，应用在检查授权时存在纰漏，使得攻击者在获得低权限用户账户后，利用一些方式绕过权限检查，访问或者操作其他用户或者更高权限。越权漏洞的成因主要是因为开发人员在对数据进行增、删、改、查询时对客户端请求的数据过分相信而遗漏了权限的判定，一旦权限验证不充分，就会导致越权漏洞。IDOR漏洞属于失效的访问控制范畴。
                </div>
                <div class="tab-pane fade" id="bb">
                    <textarea disabled="disabled" class="form-control shadow-sm p-3 mb-5 rounded" id="coder"
                              style="height: 180px;">
【必须】权限校验
 对于非公共操作，应当校验当前访问账号进行操作权限和数据权限校验。
 1. 验证当前用户的登录态
 2. 从可信结构中获取经过校验的当前请求账号的身份信息（如：session）。禁止从用户请求参数或Cookie中获取外部传入不可信用户身份直接进行查询。
 3. 校验当前用户是否具备该操作权限
 4. 校验当前用户是否具备所操作数据的权限，避免越权。
                    </textarea>
                </div>
            </div>

            <hr>

            <div class="box-float">
                <div class="float1">
                    <a style="float:right" class="btn btn-sm btn-danger"
                       href="/IDOR/vul/info?name=zhangwei">查看个人信息</a>
                    <h5><span class="lnr lnr-bug"> 水平越权-漏洞代码</span></h5>

                    <label for="code1"></label><textarea class="form-control" id="code1">
// 未做权限控制，通过遍历name参数可查询任意用户信息
public List<User> vul(String name) {
    return userMapper.queryByUser(name);
}
                    </textarea><br><br>

                    <a style="float:right" class="btn btn-sm btn-danger"
                       href="/IDOR/vul/admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-bug"> 垂直越权-漏洞代码</span></h5>

                    <label for="code2"></label><textarea class="form-control" id="code2">
// 管理页面未做低权限访问限制
public String vul() {
    return "admin";
}
                    </textarea>
                </div>

                <div class="float2">
                    <input type="hidden" th:value="${session.LoginUser}" id="current_user">
                    <a style="float:right" class="btn btn-sm btn-success"
                       href="/IDOR/safe/info?name=zhangwei">查看个人信息</a>
                    <h5><span class="lnr lnr-smile"> 水平越权-安全代码</span></h5>
                    <label for="code3"></label><textarea class="form-control" id="code3">
// 判断当前session与要查询的用户是否一致
public String safe(String name, HttpSession session) {
    if (session.getAttribute("LoginUser").equals(name)) {
        return userMapper.queryByUser(name);
    }
}
                    </textarea><br><br>

                    <a style="float:right" class="btn btn-sm btn-success"
                       href="/IDOR/safe/admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        <span class="align-middle"> Run</span></a>
                    <h5><span class="lnr lnr-smile"> 垂直越权-安全代码</span></h5>

                    <label for="code4"></label><textarea class="form-control" id="code4">
// 只允许admin用户可以访问管理页面
public String safe(HttpSession session) {
    if (session.getAttribute("LoginUser").equals("admin")) {
        return "admin";
    } else {
        return "commons/403";
    }
}
                    </textarea>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>