<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <hr>
            <div class="jumbotron">
                <h1 class="display-4">Java Security</h1>
                <p class="lead">Java安全编码和代码审计</p>
                <p class="lead"><b>未知攻，焉知防！</b></p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="#" role="button">aaa</a>
                <a class="btn btn-success btn-lg" href="#" role="button">bbb</a>
                <a class="btn btn-warning btn-lg" href="#" role="button">ccc</a>
                <a class="btn btn-info btn-lg" href="#" role="button">ddd</a>
                <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/j3ers3/Hello-Java-Sec" role="button" style="float:right;">了解更多</a>
            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>
</html>