<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Java Sec">
    <meta name="author" content="nul1">

    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>


<body class="text-center">
<form class="form-signin" th:action="@{/user/login}">
    <img class="mb-4" th:src="@{/img/logo.png}" alt="" width="150" height="150">
    <label class="sr-only">Username</label>
    <input type="text" class="form-control" name="username" placeholder="username" required="" autofocus="">
    <label class="sr-only">Password</label>
    <input type="password" class="form-control" name="password" placeholder="password" required="">
    <p style="color: red" th:text="${msg}"></p>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>

</body>

</html>