<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<div class="container body-signin text-center">
    <div class="row">
        <div class="col-md-12">
            <form class="form-signin" th:action="@{/user/login}" method="post">
                <img class="mb-4" src="/img/logo.png" alt=""><span style="font-size: 32px;"> Java漏洞平台</span>

                <p th:text="${msg}"></p>

                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="用户名" required="">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="密码" required="">
                </div>

                <div class="form-group form-inline">
                    <input type="text" name="captcha" class="form-control" placeholder="验证码"
                           style="width: 66%">&nbsp;&nbsp;<img
                        src="/captcha" style="width: 30%;height: 48px" onclick="this.src='/captcha?d='+Math.random()"
                        alt=""/>
                </div>


                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember Me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

            </form>


        </div>


    </div>

</html>