<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body class="text-center body-signin">
<div class="col-md-4 col-sm-10">
<form class="form-signin" th:action="@{/user/login}" method="post">
    <img class="mb-4" src="/img/logo.png" alt=""><span style="font-size: 32px;"> Java漏洞平台</span>

    <p th:text="${msg}"></p>

    <input type="text" class="form-control" name="username" placeholder="账户" required=""><br>
    <input type="password" class="form-control" name="password" placeholder="密码" required="">


    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember Me
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

</form>


</div>


</body>

</html>