<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}" }></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='spel.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2>SpEL注入</h2>
            <hr>

            <div class="dec">SpEL（Spring Expression Language）表达式注入, 是一种功能强大的表达式语言、用于在运行时查询和操作对象图，由于未对参数做过滤可造成任意命令执行。
            </div>

            <div class="box-float">
                <div class="float1">

                    <h5><label for="code" class="control-label">漏洞代码</label></h5>
                    <textarea class="form-control" name="code" id="code" rows="8">
 @GetMapping("/spel")
 public String rce(String ex) {
     ExpressionParser parser = new SpelExpressionParser();
     String result = parser.parseExpression(ex).getValue().toString();
     System.out.println(result);
     return result;
 }
                    </textarea>

                    <a class="btn btn-sm btn-danger" th:href="@{/spel?ex=100-1}">点击测试</a><br>



            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>

</body>

</html>