<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='sqli.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2>SQL Injection</h2>
            <hr>
            <div class="dec">SQLI(SQL Injection)
                SQL注入即是指web应用程序对用户输入数据的合法性没有判断或过滤不严，攻击者可以在web应用程序中事先定义好的查询语句的结尾上添加额外的SQL语句。
            </div>
            <br>

            <div class="box-float">
                <div class="float1">
                    <a style="float:right" class="btn btn-sm btn-danger"
                       th:href="@{/SQLI/sql_1?id=1' or '1'='1}">点击测试</a>
                    <h5>漏洞代码</h5>

                    <textarea class="form-control" name="code" id="code1">
Connection conn = DriverManager.getConnection(db_url, db_user, db_pass);
Statement stmt = conn.createStatement();
String sql = "select * from users where id = '" + id + "'";
System.out.println("[*] 执行SQL语句：" + sql);
ResultSet rs = stmt.executeQuery(sql);
          </textarea>

                    <br>

                    <a style="float:right" class="btn btn-sm btn-success text-right"
                       th:href="@{/XSS/safe1?content=test<script>alert(1)</script>}">点击测试</a>
                    <h5>安全代码 - htmlEscape方法</h5>

                    <textarea class="form-control" name="code" id="code2">
import org.springframework.web.util.HtmlUtils;
@GetMapping("/safe1")
public static String safe1(String content) {
    return HtmlUtils.htmlEscape(content);
}
                    </textarea>

                </div>

                <div class="float2">
                    <form class="form-inline">
                        <h5>安全编码</h5>
                    </form>
                    <textarea class="form-control" name="code" id="code3">
【必须】外部输入拼接到response页面前进行编码处理
    当响应“content-type”为“html”类型时，外部输入拼接到响应包中，需根据输出位置进行编码处理。
                    </textarea>
                    <br>

                    <a style="float:right" class="btn btn-sm btn-success text-right"
                       th:href="@{/XSS/safe2?content=test<script>alert(1)</script>}">点击测试</a>
                    <h5>安全代码 - 自定义过滤</h5>
                    <textarea class="form-control" name="code" id="code4">
private static String XssFilter(String content) {
    content = StringUtils.replace(content, "&", "&amp;");
    content = StringUtils.replace(content, "<", "&lt;");
    content = StringUtils.replace(content, ">", "&gt;");
    content = StringUtils.replace(content, "\"", "&quot;");
    content = StringUtils.replace(content, "'", "&#x27;");
    content = StringUtils.replace(content, "/", "&#x2F;");
    return content;
}
                    </textarea>
                </div>

            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>