<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='sqli_mybatis.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="vul_header">
                <span>SQL Injection - MyBatis框架</span>
                <a class="btn btn-sm btn-primary" target="_blank" href="">漏洞案例</a>
            </div>
            <hr>
            <div class="dec shadow-sm p-3 mb-4 rounded">SQLI(SQL Injection)，
                SQL注入是因为程序未能正确对用户的输入进行检查，将用户的输入以拼接的方式带入SQL语句，导致了SQL注入的产生。攻击者可通过SQL注入直接获取数据库信息，造成信息泄漏。<br>
                MyBatis框架底层已经实现了对SQL注入的防御，但存在使用不当的情况下，仍然存在SQL注入的风险。
            </div>

            <h5><span class="lnr lnr-bullhorn"> 编码建议</span></h5>
            <textarea disabled="disabled" class="form-control p-3 mb-5 rounded" id="coder">
【必须】SQL语句默认使用预编译并绑定变量
使用Mybatis作为持久层框架，应通过#{}语法进行参数绑定，MyBatis 会创建 PreparedStatement 参数占位符，并通过占位符安全地设置参数。
针对order by 注入可以在java层面做映射来进行解决。
            </textarea>
            <hr>

            <div class="box-float">
                <div class="float1">
                    <a style="float:right" class="btn btn-sm btn-danger"
                       href="/SQLI/mybatis/vul/order?field=id%20and%20(updatexml(1,concat(0x7e,(select%20user())),0))&sort=desc">运行</a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码 - order by 注入</span></h5>

                    <textarea class="form-control" id="code1">
// 此漏洞出现频率较高并且很严重！
// 为何产生：由于使用 #{} 会将对象转成字符串，形成 order by "user" desc 造成错误，因此很多研发会采用${}来解决，从而造成SQL注入
@RequestMapping("/mybatis/vul/order")
public List<User> orderBy(String field, String sort) {
    return userMapper.orderBy(field, sort);
}

// mapper.xml语句
<select id="orderBy" resultType="com.best.hello.entity.User">
    select * from users order by ${field} ${sort}
</select>
                    </textarea>
                </div>

                <div class="float2">
                    <a style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/mybatis/safe/order?field=id">运行</a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - 排序映射</span></h5>
                    <textarea class="form-control" id="code2">
<select id="orderBySafe" resultType="com.best.hello.entity.User">
    select * from users
    <choose>
        <when test="field == 'id'">
            order by id desc
        </when>
        <when test="field == 'user'">
            order by user desc
        </when>
        <otherwise>
            order by id desc
        </otherwise>
    </choose>
</select>
                    </textarea><br><br>

                    <a style="float:right" class="btn btn-sm btn-success"
                       href="/SQLI/mybatis/safe/id/1">运行</a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - 强制类型</span></h5>
                    <textarea class="form-control" id="code3">
// 使用 ${} 本身是存在注入的，但由于强制使用Integer或long类型导致注入无效（无法注入字符串）
@RequestMapping("/mybatis/safe/id/{id}")
public List<User> queryById(@PathVariable Integer id) {
    return userMapper.queryById2(id);
}

@Select("select * from users where id = ${id}")
List<User> queryById2(@Param("id") Integer id);
                    </textarea>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>