<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='xss.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2>XSS</h2>
            <hr>
            <div class="dec">XSS(Cross Site
                Scripting) 跨站脚本攻击，攻击者插入恶意Script代码,当用户浏览该页之时,嵌入其中Web里面的Script代码会被执行,从而达到恶意攻击用户的目的。
            </div>
            <hr>
            <br>

            <div class="box-float">
                <div class="float1">
                    <a style="float:right" class="btn btn-sm btn-danger"
                       th:href="@{/XSS/reflect?content=test<script>alert(1)</script>}">运行</a>
                    <h5><span class="lnr lnr-bug"> 漏洞代码</span></h5>

                    <textarea class="form-control" name="code" id="code1">
@GetMapping("/reflect")
public static String input(String content) {
    return content;
}
                    </textarea>

                    <br>

                    <a style="float:right" class="btn btn-sm btn-success text-right"
                       th:href="@{/XSS/escape?content=test<script>alert(1)</script>}">运行</a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - htmlEscape方法</span></h5>

                    <textarea class="form-control" name="code" id="code2">
import org.springframework.web.util.HtmlUtils;

@GetMapping("/safe1")
public static String safe1(String content) {
    return HtmlUtils.htmlEscape(content);
}
                    </textarea>

                </div>

                <div class="float2">
                    <form class="form-inline">
                        <h5><span class="lnr lnr-bullhorn"> 编码建议</span></h5>
                    </form>
                    <textarea class="form-control" name="code" id="suggestion">
【必须】外部输入拼接到response页面前进行编码处理
 当响应“content-type”为“html”类型时，外部输入拼接到响应包中，需根据输出位置进行编码处理。
                    </textarea>
                    <br>

                    <a style="float:right" class="btn btn-sm btn-success text-right"
                       th:href="@{/XSS/filter?content=test<script>alert(1)</script>}">运行</a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - 自定义过滤</span></h5>
                    <textarea class="form-control" name="code" id="code4">
private static String XssFilter(String content) {
    content = StringUtils.replace(content, "&", "&amp;");
    content = StringUtils.replace(content, "<", "&lt;");
    content = StringUtils.replace(content, ">", "&gt;");
    content = StringUtils.replace(content, "\"", "&quot;");
    content = StringUtils.replace(content, "'", "&#x27;");
    content = StringUtils.replace(content, "/", "&#x2F;");
    return content;
}
                    </textarea>
                    <br>

                    <a style="float:right" class="btn btn-sm btn-success text-right"
                       th:href="@{/XSS/whitelist?content=aaa<img%20src=1%20onerror=alert(1)>}">运行</a>
                    <h5><span class="lnr lnr-smile"> 安全代码 - 黑白名单</span></h5>
                    <textarea class="form-control" name="code" id="code5">
import org.jsoup.Jsoup;
import org.jsoup.safety.Whitelist;

public static String safe3(String content) {
    Whitelist whitelist = (new Whitelist())
           .addTags("p", "hr", "div", "img", "span", "textarea")  // 设置允许的标签
           .addAttributes("a", "href", "title") // 设置标签允许的属性, 避免如nmouseover属性
           .addProtocols("img", "src", "http", "https")  // img的src属性只允许http和https开头
           .addProtocols("a", "href", "http", "https");
    return Jsoup.clean(content, whitelist);
}
                    </textarea>
                </div>

            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>